# Airline Accident Model Report

## Overview

Our team has been asked to quantify the safety of airplane makes/models in relation to purchasing decisions and further impact on the commpany after that decision is made.

## Business Understanding

We must provide visualizations and data support to show our company why the "most dangerous" airplane models are as such, as well as any other tangential information as relates to airplane crashes and the safety of particular makes/models that our company might be interested in purchasing now or in future.

In [1172]:
import pandas as pd

## Data Understanding

In [1173]:
airline_df = pd.read_csv('Data/Aviation_Data.csv')
airline_df.head()

/Users/jayiraj/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

First we must load in the data and take a general look at it, as seen above.

In [1174]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

As we can see, this dataframe contains 31 columns and some 90,000 rows. There are many nulls, and the data types are object and float. As a first beginning thought, we will need to transform the "Event.Date" column to a "datetime" object, and handle all the nulls we see here.

In [1175]:
airline_df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In the above, we can see some simple statistical data for the columns with integers. Some of these may be important during the course of our data work.

In [1176]:
airline_df['Make']

0                           Stinson
1                             Piper
2                            Cessna
3                          Rockwell
4                            Cessna
                    ...
90343                         PIPER
90344                      BELLANCA
90345    AMERICAN CHAMPION AIRCRAFT
90346                        CESSNA
90347                         PIPER
Name: Make, Length: 90348, dtype: object

In [1177]:
airline_df['Model']

0            108-3
1         PA24-180
2             172M
3              112
4              501
           ...
90343    PA-28-151
90344         7ECA
90345        8GCBC
90346         210N
90347    PA-24-260
Name: Model, Length: 90348, dtype: object

As is displayed above, we can see that the 'Make' column contains words that make sense, whereas the 'Model' column is entirely model numbers. We would need to parse through the 'Model' column and make many changes for the sake of the business question we've been asked, so it would be wisest to use the 'Make' column for these purposes.

## Data Preparation

In [1178]:
airline_df.drop('Latitude', axis=1, inplace=True)

In [1179]:
airline_df.drop('Longitude', axis=1, inplace=True)

In [1180]:
airline_df.drop('Airport.Code', axis=1, inplace=True)

In [1181]:
airline_df.drop('Air.carrier', axis=1, inplace=True)

In [1182]:
airline_df.drop('Airport.Name', axis=1, inplace=True)

In the above lines of code, we have taken our dataframe and dropped unnecessary (and NaN-filled) columns to clean our data for further analysis. Below, we have done a sanity check to ensure the columns requested were removed.

In [1183]:
airline_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Schedule,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,NC6404,...,NaN,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,N5069P,...,NaN,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,N5142R,...,NaN,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,N1168J,...,NaN,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,N15NY,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,NaN,N1867H,...,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,N2895Z,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,...,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,N210CU,...,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,NaN,N9026P,...,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [1184]:
airline_df['Make'] = airline_df['Make'].str.upper()

In [1185]:
airline_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Schedule,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,NC6404,...,NaN,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,N5069P,...,NaN,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,N5142R,...,NaN,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,N1168J,...,NaN,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,N15NY,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [1186]:
airline_df['Make'].value_counts()

CESSNA              27149
PIPER               14870
BEECH                5372
BOEING               2745
BELL                 2722
                    ...
PIEL EMERAUDE           1
M7 AEROSPACE LLC        1
SIBLEY                  1
FOLEY JAMES             1
DEARMOND CLINT          1
Name: Make, Length: 7587, dtype: int64

In the above cells, we have transformed the 'Make' column to be all upper case so that we would not have any further case issues such as seen in 'Cessna' and 'CESSNA'.

In [1187]:
airline_df['Country'] = airline_df['Country'].str.upper()

In [1188]:
airline_df['Country'].value_counts()

UNITED STATES     82248
BRAZIL              374
CANADA              359
MEXICO              358
UNITED KINGDOM      344
                  ...
CHAD                  1
BLOCK 651A            1
PALAU                 1
NAURU                 1
GUERNSEY              1
Name: Country, Length: 215, dtype: int64

In [1189]:
airline_df['Location'].value_counts()

ANCHORAGE, AK         434
MIAMI, FL             200
ALBUQUERQUE, NM       196
HOUSTON, TX           193
CHICAGO, IL           184
                     ...
Caorle, Italy           1
Lausanne, Eswatini      1
EDMUND, SC              1
Amberg, WI              1
Bartow, GA              1
Name: Location, Length: 27758, dtype: int64

In [1190]:
pd.reset_option('display.max_rows')

In [1191]:
airline_df['Location'] = airline_df['Location'].str.upper()

In [1192]:
airline_df['Location'].value_counts()

ANCHORAGE, AK       548
MIAMI, FL           275
HOUSTON, TX         271
ALBUQUERQUE, NM     265
CHICAGO, IL         256
                   ...
STERLING, KS          1
REMOTE, OR            1
HAJDÚSZOBOSZLÓ,       1
CINNIBAR, AK          1
DIXIE, WA             1
Name: Location, Length: 21978, dtype: int64

In the above lines of code, we've transformed several other columns to ensure that each response is unique (where applicable), correct, and synchronized.

In [1193]:
airline_df["Date"] = pd.to_datetime(airline_df["Event.Date"])

In [1194]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Injury.Severity         87889 non-null  object
 7   Aircraft.damage         85695 non-null  object
 8   Aircraft.Category       32287 non-null  object
 9   Registration.Number     87572 non-null  object
 10  Make                    88826 non-null  object
 11  Model                   88797 non-null  object
 12  Amateur.Built           88787 non-null  object
 13  Number.of.Engines       82805 non-null  float64
 14  Engine.Type             81812 non-null  object
 15  FAR.Description         32023 non-null  object
 16  Schedule                12582 non-null  object
 17  Purpose.of.flight       82697 non-null  object
 18  Total.Fatal.Injuries    77488 non-null  float64
 19  Total.Serious.Injuries  76379 non-null  float64
 20  Total.Minor.Injuries    76956 non-null  float64
 21  Total.Uninjured         82977 non-null  float64
 22  Weather.Condition       84397 non-null  object
 23  Broad.phase.of.flight   61724 non-null  object
 24  Report.Status           82508 non-null  object
 25  Publication.Date        73659 non-null  object
 26  Date                    88889 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(21)
memory usage: 18.6+ MB

In [1195]:
airline_df = airline_df.dropna(subset=['Make'])

In [1196]:
airline_df.groupby('Make').groups

{'107.5 FLYING CORPORATION': [61776], '1200': [59701], '177MF LLC': [75279], '1977 COLFER-CHAN': [50544], '1ST FTR GP': [35242], '2000 MCCOY': [49732], '2001 MCGIRL': [50669], '2003 NASH': [56626], '2007 SAVAGE AIR LLC': [64442], '2021FX3 LLC': [88583, 90065], '3XTRIM': [77357], '5 RIVERS LLC': [89676], '67 FLYING DUTCHMAN': [25602], '737': [89442, 89443], '777': [87177], '781569 INC': [73399], '85 MANISTA': [29816], 'A PAIR OF JACKS': [53821], 'A. H. GETTINGS': [30486], 'A. LE FRANCOIS': [35910], 'A. SCHLEICHER GMBH & CO.': [64517], 'AAA AIRCRAFT LEASING': [53894], 'AAA AIRCRAFT LLC': [90085], 'AARDEMA ROBERT JOHN': [69187], 'AB SPORTINE AVIACIJA': [46359, 53348, 64890, 66481, 72914, 80972], 'ABBETT GERRY': [87002], 'ABBEY VICTOR': [70285], 'ABBOTT': [23624, 57519, 58355], 'ABC': [34816], 'ABERNATHY': [29185, 49282], 'ABRAHAM J G II/ERICKSON K': [45522], 'ABRAMS': [46123], 'ABRAMS/NUDING': [31486], 'ABRUZZO': [59642], 'AC MFG & DEV'T CO': [62277], 'ACES HIGH': [35616], 'ACKERT': [63154], 'ACKLAND JEFFREY DEAN': [76045], 'ACRO': [83975], 'ACRO SPORT': [32311, 62433, 88047], 'ACRODUSTER': [23775, 88013], 'ADAMS': [1397, 6518, 8441, 8999, 14450, 19501, 20682, 22514, 22840, 24233, 24794, 25515, 25598, 35438, 38488, 43034, 43121, 46350, 46503, 48013, 61567, 62616, 63247, 75504], 'ADAMS BALLOON': [54860], 'ADAMS BALLOONS LLC': [89003], 'ADAMS DENNIS ALLEN': [88902], 'ADAMS DONALD L': [76700], 'ADAMS JOHN R JR': [68467], 'ADAMS WILLIAM C': [13618], 'ADKINS': [58882, 65710], 'ADLER': [53469], 'ADOLFSON': [33163], 'ADOLPHSON': [73633], 'ADRIAN DAVIS': [42868], 'ADRIAN GEORGE W': [80394], 'ADVANCE AVIATION': [35876], 'ADVANCED ACFT': [35877], 'ADVANCED AVIATION': [29473], 'ADVANCED TECHNOLOGY': [12734, 39107], 'ADVENTURA': [57019], 'ADVERTISING MGMT & CONSULTING': [68667], 'AEGERTER, SIMON': [45452], 'AERIAL PRODUCTIONS INTL. INC.': [60932], 'AERMACCHI': [58743, 87104], 'AERO ADVENTURE': [70849, 80253], 'AERO AT SP ZOO': [70087], 'AERO BRISTELL': [86621], 'AERO COMMANDER': [714, 1202, 1392, 1651, 1746, 1826, 1947, 2200, 2341, 2673, 2678, 2723, 2885, 3067, 3272, 3311, 3315, 3713, 3805, 4127, 4141, 4444, 4548, 4591, 4638, 4882, 5011, 5184, 5231, 5239, 5308, 5474, 5530, 6081, 6339, 6401, 6417, 6576, 6581, 6759, 6829, 6862, 6950, 7277, 7510, 7589, 7779, 7841, 7898, 8416, 8569, 8582, 8823, 8966, 8988, 9073, 9138, 9395, 9532, 9648, 10313, 10522, 11028, 11029, 11303, 11502, 11579, 11908, 11976, 12083, 12146, 12445, 12938, 12962, 13546, 13550, 14376, 14587, 14615, 14616, 14658, 14725, 14782, 14815, 14866, 14911, 14964, 15086, 15270, 15313, 15441, 15517, 15529, 15547, 15549, 15781, 15880, 15920, 16229, 16441, ...], 'AERO COMP INC': [47939], 'AERO DESIGN ELEVEN': [48148], 'AERO DESIGNS': [83014], 'AERO ELI SERVIZI': [82642], 'AERO FALCON INTL., INC.': [33469], 'AERO MERCANTIL S.A.': [29803], 'AERO MIRAGE': [17083], 'AERO PARTNERS ONE LLC': [52579], 'AERO SMART SOLUTIONS INC': [79547], 'AERO SP Z O O': [68635, 70490, 70804, 76943], 'AERO SP Z O O (GOBOSH)': [64986], 'AERO TEK INC.': [75267], 'AERO TEK, INC.': [48979], 'AERO VODOCHODY': [50084, 54723, 55383, 60141, 60261, 63375, 66706, 70354, 71321, 71855, 72615, 73875, 77071, 77717, 78084, 79504, 81354, 83113], 'AERO VODOCHODY AERO WORKS': [54981], 'AERO VODOCHODY AERO. WORKS': [40724, 44298, 44917, 49832, 49990, 51699, 57692, 58274, 62191, 64780], 'AERO WORKS': [71882], 'AERO-ACE': [80673], 'AERODYNAMICS .': [17643], 'AERODYNE': [25763], 'AEROFAB': [64362], 'AEROFAB INC': [79634, 80931], 'AEROFAB INC.': [13076, 23375, 23751, 25823, 28171, 36727, 40278, 42961, 44313, 49704, 49773, 55316, 77700], 'AEROFAB, INC.': [54196], 'AEROLITE': [68959], 'AEROMOT': [22462, 41735, 46957, 67234, 67360, 88112], 'AERONCA': [182, 197, 304, 308, 425, 798, 1227, 1315, 1398, 1428, 1471, 1518, 1557, 1686, 1687, 1708, 1761, 2000, 2080, 2248, 2267, 2425, 2466, 2479, 2557, 2830, 3370, 3431, 3596, 3821, 3862, 3927, 4009, 4098, 4108, 4317, 4407, 4471, 4480, 4613, 4668, 4821, 4829, 4878, 4938, 4968, 5019, 5383, 5650, 5811, 5980, 6133, 6355, 6464, 6627, 7077, 7434, 7772, 7798, 7856, 7910, 8231, 8358, 8480, 8512, 8529, 8643, 8737, 8814, 8836, 8915, 8993, 9096, 9227, 9290, 9327, 9351, 9501, 9741, 10010, 10063, 10395, 10400, 10546, 10649, 11216, 11814, 11815, 11892, 12061, 12543, 12721, 12786, 12787, 12793, 12840, 12874, 12907, 13064, 13293, ...], 'AERONCA AIRCRAFT CORPORATION': [66092], 'AERONCA CHAMP': [2115], 'AERONCA CHAMPION': [1857], 'AERONCA-BUBECK IRVING': [48005], 'AERONCA/BUBECK': [56975], 'AEROPRAKT': [62263, 75445, 80841, 82543], ...}

In [1197]:
airline_df['Make'].value_counts()

CESSNA              27149
PIPER               14870
BEECH                5372
BOEING               2745
BELL                 2722
                    ...
PIEL EMERAUDE           1
M7 AEROSPACE LLC        1
SIBLEY                  1
FOLEY JAMES             1
DEARMOND CLINT          1
Name: Make, Length: 7587, dtype: int64

In the above step, we've dropped the NaN's from 'Make', as we need answers to that to be able to answer our business question, and then continued on to group the dataframe by 'Make'. This has allowed us to check the given values in the 'Make' column in order to assess which makes of airplanes have the most accidents.

In [1198]:
airline_df.dropna(subset=['Total.Fatal.Injuries'])

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",UNITED STATES,Fatal(2),Destroyed,NaN,NC6404,...,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948-10-24
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",UNITED STATES,Fatal(4),Destroyed,NaN,N5069P,...,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962-07-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"SALTVILLE, VA",UNITED STATES,Fatal(3),Destroyed,NaN,N5142R,...,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,1974-08-30
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",UNITED STATES,Fatal(2),Destroyed,NaN,N1168J,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977-06-19
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"CANTON, OH",UNITED STATES,Fatal(1),Destroyed,NaN,N15NY,...,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"ANNAPOLIS, MD",UNITED STATES,Minor,NaN,NaN,N1867H,...,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022-12-26
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"HAMPTON, NH",UNITED STATES,NaN,NaN,NaN,N2895Z,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"PAYSON, AZ",UNITED STATES,Non-Fatal,Substantial,Airplane,N749PJ,...,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022-12-26
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"MORGAN, UT",UNITED STATES,NaN,NaN,NaN,N210CU,...,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"ATHENS, GA",UNITED STATES,Minor,NaN,NaN,N9026P,...,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022-12-29

In [1199]:
airline_df.dropna(subset=['Total.Serious.Injuries'])

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",UNITED STATES,Fatal(2),Destroyed,NaN,NC6404,...,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948-10-24
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",UNITED STATES,Fatal(4),Destroyed,NaN,N5069P,...,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962-07-19
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",UNITED STATES,Fatal(2),Destroyed,NaN,N1168J,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977-06-19
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"CANTON, OH",UNITED STATES,Fatal(1),Destroyed,NaN,N15NY,...,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979-08-02
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",UNITED STATES,Fatal(4),Destroyed,NaN,N4988E,...,Personal,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001,1981-08-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"ANNAPOLIS, MD",UNITED STATES,Minor,NaN,NaN,N1867H,...,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022-12-26
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"HAMPTON, NH",UNITED STATES,NaN,NaN,NaN,N2895Z,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"PAYSON, AZ",UNITED STATES,Non-Fatal,Substantial,Airplane,N749PJ,...,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022-12-26
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"MORGAN, UT",UNITED STATES,NaN,NaN,NaN,N210CU,...,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"ATHENS, GA",UNITED STATES,Minor,NaN,NaN,N9026P,...,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022-12-29

In [1200]:
airline_df.dropna(subset=['Total.Minor.Injuries'])

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",UNITED STATES,Fatal(2),Destroyed,NaN,NC6404,...,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948-10-24
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",UNITED STATES,Fatal(4),Destroyed,NaN,N5069P,...,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962-07-19
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",UNITED STATES,Fatal(2),Destroyed,NaN,N1168J,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977-06-19
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",UNITED STATES,Non-Fatal,Substantial,Airplane,CF-TLU,...,NaN,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979-09-17
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",UNITED STATES,Fatal(4),Destroyed,NaN,N4988E,...,Personal,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001,1981-08-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"ANNAPOLIS, MD",UNITED STATES,Minor,NaN,NaN,N1867H,...,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022-12-26
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"HAMPTON, NH",UNITED STATES,NaN,NaN,NaN,N2895Z,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"PAYSON, AZ",UNITED STATES,Non-Fatal,Substantial,Airplane,N749PJ,...,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022-12-26
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"MORGAN, UT",UNITED STATES,NaN,NaN,NaN,N210CU,...,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"ATHENS, GA",UNITED STATES,Minor,NaN,NaN,N9026P,...,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022-12-29

In [1201]:
airline_df.dropna(subset=['Total.Uninjured'])

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",UNITED STATES,Fatal(2),Destroyed,NaN,NC6404,...,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948-10-24
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",UNITED STATES,Fatal(4),Destroyed,NaN,N5069P,...,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962-07-19
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",UNITED STATES,Fatal(2),Destroyed,NaN,N1168J,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977-06-19
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"CANTON, OH",UNITED STATES,Fatal(1),Destroyed,NaN,N15NY,...,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979-08-02
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",UNITED STATES,Non-Fatal,Substantial,Airplane,CF-TLU,...,NaN,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979-09-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"ANNAPOLIS, MD",UNITED STATES,Minor,NaN,NaN,N1867H,...,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022-12-26
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"HAMPTON, NH",UNITED STATES,NaN,NaN,NaN,N2895Z,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"PAYSON, AZ",UNITED STATES,Non-Fatal,Substantial,Airplane,N749PJ,...,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022-12-26
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"MORGAN, UT",UNITED STATES,NaN,NaN,NaN,N210CU,...,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022-12-26
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"ATHENS, GA",UNITED STATES,Minor,NaN,NaN,N9026P,...,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022-12-29

During this step, we dropped the NaN values from what we consider the "math columns" because an unknown value (or NaN) here will prevent us from doing any of the mathematical equations we will do later to further analyze the crash data.

In [1202]:
indexHelicopter = airline_df[airline_df["Aircraft.Category"] != "Airplane"].index
airline_justairplanes_df = airline_df.drop(indexHelicopter)

In [1203]:
airline_justairplanes_df['Aircraft.Category'].value_counts()

Airplane    27608
Name: Aircraft.Category, dtype: int64

In [1204]:
airline_justairplanes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27608 entries, 5 to 90345
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27608 non-null  object
 1   Investigation.Type      27608 non-null  object
 2   Accident.Number         27608 non-null  object
 3   Event.Date              27608 non-null  object
 4   Location                27601 non-null  object
 5   Country                 27601 non-null  object
 6   Injury.Severity         26794 non-null  object
 7   Aircraft.damage         26328 non-null  object
 8   Aircraft.Category       27608 non-null  object
 9   Registration.Number     27384 non-null  object
 10  Make                    27608 non-null  object
 11  Model                   27580 non-null  object
 12  Amateur.Built           27591 non-null  object
 13  Number.of.Engines       24856 non-null  float64
 14  Engine.Type             23384 non-null  object
 15  FAR.Description         27109 non-null  object
 16  Schedule                2987 non-null   object
 17  Purpose.of.flight       23871 non-null  object
 18  Total.Fatal.Injuries    24444 non-null  float64
 19  Total.Serious.Injuries  24385 non-null  float64
 20  Total.Minor.Injuries    24732 non-null  float64
 21  Total.Uninjured         26710 non-null  float64
 22  Weather.Condition       24556 non-null  object
 23  Broad.phase.of.flight   6403 non-null   object
 24  Report.Status           22638 non-null  object
 25  Publication.Date        25370 non-null  object
 26  Date                    27608 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(21)
memory usage: 5.9+ MB

In [1205]:
airline_justairplanes_df.dropna(subset=['Total.Fatal.Injuries'], inplace=True)

In [1206]:
airline_justairplanes_df.dropna(subset=['Total.Serious.Injuries'], inplace=True)

In [1207]:
airline_justairplanes_df.dropna(subset=['Total.Minor.Injuries'], inplace=True)

In [1208]:
airline_justairplanes_df.dropna(subset=['Total.Uninjured'], inplace=True)

In [1209]:
airline_justairplanes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24136 entries, 7 to 90345
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                24136 non-null  object
 1   Investigation.Type      24136 non-null  object
 2   Accident.Number         24136 non-null  object
 3   Event.Date              24136 non-null  object
 4   Location                24136 non-null  object
 5   Country                 24130 non-null  object
 6   Injury.Severity         23322 non-null  object
 7   Aircraft.damage         22946 non-null  object
 8   Aircraft.Category       24136 non-null  object
 9   Registration.Number     24124 non-null  object
 10  Make                    24136 non-null  object
 11  Model                   24115 non-null  object
 12  Amateur.Built           24136 non-null  object
 13  Number.of.Engines       21668 non-null  float64
 14  Engine.Type             20075 non-null  object
 15  FAR.Description         23637 non-null  object
 16  Schedule                2602 non-null   object
 17  Purpose.of.flight       20630 non-null  object
 18  Total.Fatal.Injuries    24136 non-null  float64
 19  Total.Serious.Injuries  24136 non-null  float64
 20  Total.Minor.Injuries    24136 non-null  float64
 21  Total.Uninjured         24136 non-null  float64
 22  Weather.Condition       21149 non-null  object
 23  Broad.phase.of.flight   3246 non-null   object
 24  Report.Status           19166 non-null  object
 25  Publication.Date        22138 non-null  object
 26  Date                    24136 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(21)
memory usage: 5.2+ MB

In [1210]:
airline_justairplanes_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982-01-01
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",UNITED STATES,Non-Fatal,Destroyed,Airplane,N14779,...,Personal,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",UNITED STATES,Fatal(1),Destroyed,Airplane,N758SK,...,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02
14,20020917X02119,Accident,FTW82FPJ10,1982-01-02,"CHICKASHA, OK",UNITED STATES,Fatal(1),Destroyed,Airplane,N4876K,...,Personal,1.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"SAN JUAN, PR",UNITED STATES,Non-Fatal,Substantial,Airplane,N416PC,...,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022-12-14
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"WICHITA, KS",UNITED STATES,Non-Fatal,Substantial,Airplane,N398KL,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,2022-12-15
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"PAYSON, AZ",UNITED STATES,Non-Fatal,Substantial,Airplane,N749PJ,...,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022-12-26

In [1211]:
airline_justairplanes_df.groupby('Make').groups

{'177MF LLC': [75279], '2007 SAVAGE AIR LLC': [64442], '2021FX3 LLC': [88583, 90065], '3XTRIM': [77357], '5 RIVERS LLC': [89676], '737': [89442, 89443], '777': [87177], '781569 INC': [73399], 'AAA AIRCRAFT LLC': [90085], 'AARDEMA ROBERT JOHN': [69187], 'AB SPORTINE AVIACIJA': [64890], 'ABBETT GERRY': [87002], 'ABBEY VICTOR': [70285], 'ACKLAND JEFFREY DEAN': [76045], 'ACRO': [83975], 'ACRO SPORT': [88047], 'ACRODUSTER': [88013], 'ADAMS': [75504], 'ADAMS DENNIS ALLEN': [88902], 'ADAMS DONALD L': [76700], 'ADAMS JOHN R JR': [68467], 'ADKINS': [65710], 'ADOLPHSON': [73633], 'ADRIAN GEORGE W': [80394], 'ADVERTISING MGMT & CONSULTING': [68667], 'AERMACCHI': [87104], 'AERO ADVENTURE': [70849, 80253], 'AERO AT SP ZOO': [70087], 'AERO BRISTELL': [86621], 'AERO COMMANDER': [714, 1202, 1392, 1651, 1746, 1826, 1947, 2200, 2341, 2673, 2678, 2723, 2885, 3067, 3272, 3311, 3315, 63967, 64631, 64651, 64694, 64799, 64899, 65066, 65901, 66448, 66551, 66762, 67378, 67457, 68100, 68421, 68469, 68581, 68726, 68866, 69008, 69009, 69363, 69374, 69388, 70030, 70431, 70550, 70676, 70743, 71259, 71306, 71348, 72323, 73365, 73879, 74655, 74760, 75333, 75402, 75442, 76390, 76402, 77407, 77591, 77767, 78877, 79073, 79218, 79293, 79810, 80137, 80661, 80664, 81553, 81761, 81863, 81889, 82671, 82736, 82759, 82885, 83398, 84072, 84588, 84739, 85344, 85627, 86606, 86767, 87011, 87667, 88292, 89410, 89605, 89796, 90119], 'AERO DESIGNS': [83014], 'AERO SMART SOLUTIONS INC': [79547], 'AERO SP Z O O': [68635, 70490, 70804, 76943], 'AERO SP Z O O (GOBOSH)': [64986], 'AERO VODOCHODY': [66706, 70354, 71321, 71855, 72615, 73875, 77071, 77717, 78084, 79504, 81354, 83113], 'AERO VODOCHODY AERO. WORKS': [64780], 'AERO-ACE': [80673], 'AEROFAB': [64362], 'AEROFAB INC': [79634, 80931], 'AEROFAB INC.': [77700], 'AEROMOT': [67234], 'AERONCA': [182, 197, 304, 308, 425, 798, 1227, 1315, 1398, 1428, 1471, 1518, 1557, 1686, 1687, 1708, 1761, 2000, 2080, 2248, 2267, 2425, 2466, 2479, 2557, 2830, 3370, 3431, 3596, 64410, 64604, 64841, 64979, 65390, 65457, 65608, 65907, 65923, 66093, 66357, 66572, 66759, 66956, 67004, 67009, 67023, 67097, 67142, 67156, 67262, 67406, 67833, 68236, 68354, 68375, 68512, 68577, 68730, 68745, 68855, 69077, 69095, 69232, 69238, 69338, 69475, 69516, 69546, 69643, 69667, 70097, 70196, 70335, 70473, 70741, 70959, 71030, 71433, 71551, 72016, 72245, 72384, 72422, 72429, 72542, 72545, 72614, 72937, 73199, 73459, 73505, 73609, 74011, 74037, 74304, 74358, 74365, 74505, 75019, 75110, ...], 'AERONCA AIRCRAFT CORPORATION': [66092], 'AERONCA CHAMP': [2115], 'AERONCA CHAMPION': [1857], 'AEROPRAKT': [75445, 80841, 82543], 'AEROPRAKT MANUFACTURING SP ZOO': [90133], 'AEROPRO CZ': [66471, 68219, 71379, 72516, 72878, 78383, 79107, 80299, 81668, 81935, 85035, 85426], 'AEROPRO CZ S R O': [82209, 87109, 87324], 'AEROS': [64644], 'AEROS LTD': [77515, 84518], 'AEROS LTD/SKYRANGER AIRCRAFT': [71902], 'AEROSPATIALE': [81621], 'AEROSPATIALE ALENIA': [65904], 'AEROSPOOL': [76819], 'AEROSPORT': [3340], 'AEROSPORT LTD': [70556], 'AEROSTAR ACFT CORP OF TEXAS': [69199, 78156, 80071], 'AEROSTAR AIRCRAFT CORPORATION': [69610, 71312], 'AEROSTAR S A': [68148, 69747, 78184], 'AEROTECHNIK': [81054], 'AEROTEK': [64972, 65172, 66445, 73080, 74590, 76499, 79468, 80155, 80501, 89750], 'AEROTEK INC': [73901], 'AEROTEK-PITTS': [939], 'AEROTREK': [72311], 'AEROVODOCHODY': [70184, 73114, 82377, 89998], 'AFICIONADO': [86821], 'AG-CAT CORPORATION': [80573], 'AHRENS GERD H': [76719], 'AIR CREATION': [63975, 65091, 68410, 68749], 'AIR GULFSTREAM AIRLINES INC': [67482], 'AIR TRACTOR': [31, 147, 786, 1195, 1375, 1388, 1432, 1766, 1950, 1967, 2008, 2347, 2499, 2521, 2539, 2574, 2705, 3245, 64193, 64198, 64247, 64354, 64383, 64413, 64425, 64532, 64543, 64753, 64796, 64983, 65029, 65117, 65150, 65156, 65170, 65173, 65174, 65201, 65240, 65242, 65260, 65268, 65754, 66347, 66392, 66554, 66574, 66885, 66887, 66897, 66941, 67036, 67302, 67950, 68047, 68074, 68303, 68378, 68515, 68591, 68608, 68700, 68846, 69433, 69851, 70239, 70445, 70688, 71866, 71973, 72266, 73986, 74201, 74221, 75396, 75499, 75957, 77040, 77997, 78234, 78483, 78816, 79051, 79152, 79369, 79401, 79492, 79719, 79779, 79860, 79897, 80851, 81013, 81023, 81053, 81615, 82408, 82525, 82613, 82618, ...], 'AIR TRACTOR INC': [64714, 65829, 65872, 66050, 66124, 66186, 66679, 66731, 66748, 66983, 67011, 67027, 67028, 67053, 67055, 68179, 68277, 68318, 68344, 68488, 68554, 68578, 68632, 68639, 68832, 68971, 69156, 69306, 69870, 69876, 69950, 69968, 69972, 70119, 70137, 70216, 70220, 70245, 70438, 70486, 70552, 70557, 70581, 70591, 70602, 70607, 70627, 70637, 70929, 71041, 71089, 71498, 71532, 71613, 71647, 71765, 71784, 71890, 72046, 72269, 72273, 72389, 72472, 72490, 72494, 72576, 72763, 72893, 72910, 73262, 73288, 73354, 73582, 73645, 73660, 73674, 73739, 73751, 73848, 73885, 73927, 73941, 73992, 74050, 74073, 74074, 74155, 74192, 74331, 74511, 74512, 74611, 74987, 75215, 75281, 75381, 75400, 75482, 75506, 75511, ...], 'AIR TRACTOR INC.': [65028, 66465, 74080, 89667, 89668], 'AIR TRACTOR, INC.': [70691], 'AIRBORNE': [64006, 64722, 85375], 'AIRBORNE EXTREME LLC': [79801], 'AIRBUS': [63991, 64270, 65504, 65558, 65704, 65870, 66329, 66433, 66485, 66633, 66670, 66751, 66948, 67213, 67374, 67486, 67655, 67975, 68002, 68016, 68018, 68138, 68216, 68349, 68627, 68831, 69021, 69393, 69438, 69588, 69731, 69796, 69842, 69906, 69967, 70061, 70655, 70854, 71452, 71804, 71926, 72063, 72081, 72175, 72410, 72443, 72854, 72997, 73022, 73139, 73222, 73512, 73622, 73673, 74252, 74367, 74548, 74570, 75028, 75056, 75068, 75283, 75437, 75975, 76060, 76128, 76212, 76272, 76498, 76501, 76661, 76827, 76942, 76977, 77345, 77401, 77476, 77559, 77607, 77720, 77819, 77955, 78099, 78109, 78246, 78258, 78408, 78474, 78479, 78645, 78720, 78736, 78870, 79054, 79158, 79205, 79258, 79431, 79483, 79491, ...], 'AIRBUS INDUSTRIE': [59584, 63888, 63935, 63937, 64122, 64626, 64709, 65012, 67643, 67850, 68188, 68287, 68963, 70838, 71098, 71675, 72024, 72742, 74310, 76794, 77043, 77259, 77514, 78049, 78318, 78694, 78959, 79044, 86848, 89223], 'AIRCRAFT MFG & DESIGN LLC': [70587, 79844], 'AIRCRAFT MFG & DEV. CO.': [64179], 'AIRCRAFT MFG & DEV. CO. (AMD)': [61649, 65177], 'AIRCRAFT MFG & DEVELOPMENT CO': [66607, 72583, 79926, 82472], 'AIRCRAFT MFG & DVLPMT CO': [76833, 80855], 'AIRINDUS': [64009], 'AIRMAX CONSTRUCOES AERONAUTICA': [81229], 'AIRPARTS NZ LTD': [80629], 'AIRPLANE FACTORY': [83322], 'AIRPLANE FACTORY (PTY) LTD': [79562, 88883], 'AIRPLANE FACTORY (PTY) LTD THE': [75257], 'AIRTIME AIRCRAFT INC': [79457], 'AIRVAN': [84496], 'ALASKAN AIR ADVENTURES LLC': [87945], 'ALBRIGHT STAN': [72902], 'ALEXANDER': [76598], 'ALEXANDER DUANE A': [73621], 'ALEXANDER THOMAS P': [66245], 'ALGIMANTAS JONUSAS': [79586], 'ALIEV BULENT': [70252], 'ALLAN G PIXLEY': [89584], ...}

In [1212]:
airline_justairplanes_df['Make'].value_counts()

CESSNA                 7217
PIPER                  4144
BEECH                  1507
BOEING                 1187
MOONEY                  359
                       ...
ROOF                      1
APOLLO AIRCRAFT INC       1
KADE                      1
INGRAHAM                  1
MONNETT JOHN T JR         1
Name: Make, Length: 3182, dtype: int64

In the above code, we've created a second dataframe with only the entries (crashes) that involve "airplanes". There were many datapoints that involved rockets, helicopters, or other such things, and none of those would help our business answer the question we were provided.

In [1213]:
def replace_make(make):
    if 'CESSNA' in make:
        return 'CESSNA'
    elif 'BOEING' in make:
        return 'BOEING'
    elif 'PIPER' in make:
        return 'PIPER'
    elif 'BEECH' in make:
        return 'BEECH'
    else:
        return make

airline_justairplanes_df['Make'] = airline_justairplanes_df['Make'].map(replace_make)

In the above cell, we have reiterated through the 'Make' column and made replacements as necessary to ensure that all companies are listed properly. As an example, CESSNA is listed as several different companies throughout, which is unhelpful.

In [1214]:
top_4_comp = {}
counts = airline_justairplanes_df['Make'].value_counts()

for comp, value in counts.items():
    if value > 400:
        top_4_comp[comp] = value
        
top_4_comp

{'CESSNA': 7275, 'PIPER': 4213, 'BEECH': 1581, 'BOEING': 1212}

Above, we've created a dictionary in order to pull both the name and value of each plane maker from the dataframe, so we can continue to work with that information in order to pare down the dataframe to only airplanes and only those whose data we need to further analyze.

In [1215]:
top_4_list = list(top_4_comp.keys())
top_4_list

['CESSNA', 'PIPER', 'BEECH', 'BOEING']

In [1216]:
pared_down_df = airline_justairplanes_df.loc[airline_justairplanes_df['Make'].isin(top_4_list)]
pared_down_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982-01-01
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",UNITED STATES,Fatal(1),Destroyed,Airplane,N758SK,...,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,"LITTLE ROCK, AR",UNITED STATES,Fatal(2),Destroyed,Airplane,N9779L,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",UNITED STATES,Fatal(3),Destroyed,Airplane,N7641A,...,Personal,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,1982-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90317,20221211106438,Accident,ERA23LA083,2022-12-09,"HAWKINSVILLE, GA",UNITED STATES,Minor,Substantial,Airplane,N160PT,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,15-12-2022,2022-12-09
90320,20221215106460,Accident,ERA23LA088,2022-12-10,"ALABASTER, AL",UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,Personal,0.0,0.0,0.0,2.0,NaN,NaN,NaN,19-12-2022,2022-12-10
90324,20221212106444,Accident,ERA23LA085,2022-12-12,"KNOXVILLE, TN",UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,Instructional,0.0,0.0,0.0,1.0,VMC,NaN,NaN,15-12-2022,2022-12-12
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16

In [1217]:
pared_down_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14281 entries, 7 to 90336
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                14281 non-null  object
 1   Investigation.Type      14281 non-null  object
 2   Accident.Number         14281 non-null  object
 3   Event.Date              14281 non-null  object
 4   Location                14281 non-null  object
 5   Country                 14276 non-null  object
 6   Injury.Severity         13730 non-null  object
 7   Aircraft.damage         13538 non-null  object
 8   Aircraft.Category       14281 non-null  object
 9   Registration.Number     14274 non-null  object
 10  Make                    14281 non-null  object
 11  Model                   14274 non-null  object
 12  Amateur.Built           14281 non-null  object
 13  Number.of.Engines       12784 non-null  float64
 14  Engine.Type             11770 non-null  object
 15  FAR.Description         13982 non-null  object
 16  Schedule                1550 non-null   object
 17  Purpose.of.flight       12059 non-null  object
 18  Total.Fatal.Injuries    14281 non-null  float64
 19  Total.Serious.Injuries  14281 non-null  float64
 20  Total.Minor.Injuries    14281 non-null  float64
 21  Total.Uninjured         14281 non-null  float64
 22  Weather.Condition       12345 non-null  object
 23  Broad.phase.of.flight   2387 non-null   object
 24  Report.Status           11227 non-null  object
 25  Publication.Date        13160 non-null  object
 26  Date                    14281 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(21)
memory usage: 3.1+ MB

Now, our third dataframe contains only airplanes, and of those, only those that are made by the "top four" companies listed in accidents. Our theory is that while those have the "most accidents", they also have the most planes in the air at any given time, and of those accidents, many are non-fatal or "acceptable" accidents in context of a purchasing decision of risk/reward.

In [1218]:
pared_down_df['Injury.Severity']

7        Non-Fatal
8        Non-Fatal
13        Fatal(1)
15        Fatal(2)
17        Fatal(3)
           ...
90317        Minor
90320    Non-Fatal
90324    Non-Fatal
90328    Non-Fatal
90336        Minor
Name: Injury.Severity, Length: 14281, dtype: object

In [1219]:
pared_down_df['Injury.Severity'] = pared_down_df['Injury.Severity'].str.replace(r'\(1\)', '')

<ipython-input-1219-d16dbb60abf1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pared_down_df['Injury.Severity'] = pared_down_df['Injury.Severity'].str.replace(r'\(1\)', '')

In [1220]:
pared_down_df['Injury.Severity'].unique()

array(['Non-Fatal', 'Fatal', 'Fatal(2)', 'Fatal(3)', 'Incident',
       'Fatal(8)', 'Fatal(4)', 'Fatal(6)', 'Fatal(5)', 'Fatal(7)',
       'Fatal(125)', nan, 'Minor', 'Serious'], dtype=object)

In [1221]:
replace_dict = {"Fatal(1)" : "Fatal", "Fatal(2)" : "Fatal", "Fatal(3)" : "Fatal", "Fatal(4)" : "Fatal", "Fatal(5)" : "Fatal", "Fatal(6)" : "Fatal", "Fatal(7)" : "Fatal", "Fatal(8)": "Fatal", "Fatal(125)" : "Fatal"}
replace_dict

{'Fatal(1)': 'Fatal',
 'Fatal(2)': 'Fatal',
 'Fatal(3)': 'Fatal',
 'Fatal(4)': 'Fatal',
 'Fatal(5)': 'Fatal',
 'Fatal(6)': 'Fatal',
 'Fatal(7)': 'Fatal',
 'Fatal(8)': 'Fatal',
 'Fatal(125)': 'Fatal'}

In [1222]:
pared_down_df['Injury.Severity'] = pared_down_df['Injury.Severity'].str.split('(').str.get(0)

<ipython-input-1222-2a8c0c3ebe51>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pared_down_df['Injury.Severity'] = pared_down_df['Injury.Severity'].str.split('(').str.get(0)

In [1223]:
pared_down_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982-01-01
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",UNITED STATES,Fatal,Destroyed,Airplane,N758SK,...,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,"LITTLE ROCK, AR",UNITED STATES,Fatal,Destroyed,Airplane,N9779L,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",UNITED STATES,Fatal,Destroyed,Airplane,N7641A,...,Personal,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,1982-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90317,20221211106438,Accident,ERA23LA083,2022-12-09,"HAWKINSVILLE, GA",UNITED STATES,Minor,Substantial,Airplane,N160PT,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,15-12-2022,2022-12-09
90320,20221215106460,Accident,ERA23LA088,2022-12-10,"ALABASTER, AL",UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,Personal,0.0,0.0,0.0,2.0,NaN,NaN,NaN,19-12-2022,2022-12-10
90324,20221212106444,Accident,ERA23LA085,2022-12-12,"KNOXVILLE, TN",UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,Instructional,0.0,0.0,0.0,1.0,VMC,NaN,NaN,15-12-2022,2022-12-12
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16

As seen above, we've run through the 'Injury.Severity' column and replaced the values so that rather than Fatal(1), it just says "Fatal" and we can from there decide on a rating of how bad the accident was per fatalities.

In [1224]:
pared_down_df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       5
Injury.Severity             551
Aircraft.damage             743
Aircraft.Category             0
Registration.Number           7
Make                          0
Model                         7
Amateur.Built                 0
Number.of.Engines          1497
Engine.Type                2511
FAR.Description             299
Schedule                  12731
Purpose.of.flight          2222
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          1936
Broad.phase.of.flight     11894
Report.Status              3054
Publication.Date           1121
Date                          0
dtype: int64

In [1225]:
pared_down_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14281 entries, 7 to 90336
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                14281 non-null  object
 1   Investigation.Type      14281 non-null  object
 2   Accident.Number         14281 non-null  object
 3   Event.Date              14281 non-null  object
 4   Location                14281 non-null  object
 5   Country                 14276 non-null  object
 6   Injury.Severity         13730 non-null  object
 7   Aircraft.damage         13538 non-null  object
 8   Aircraft.Category       14281 non-null  object
 9   Registration.Number     14274 non-null  object
 10  Make                    14281 non-null  object
 11  Model                   14274 non-null  object
 12  Amateur.Built           14281 non-null  object
 13  Number.of.Engines       12784 non-null  float64
 14  Engine.Type             11770 non-null  object
 15  FAR.Description         13982 non-null  object
 16  Schedule                1550 non-null   object
 17  Purpose.of.flight       12059 non-null  object
 18  Total.Fatal.Injuries    14281 non-null  float64
 19  Total.Serious.Injuries  14281 non-null  float64
 20  Total.Minor.Injuries    14281 non-null  float64
 21  Total.Uninjured         14281 non-null  float64
 22  Weather.Condition       12345 non-null  object
 23  Broad.phase.of.flight   2387 non-null   object
 24  Report.Status           11227 non-null  object
 25  Publication.Date        13160 non-null  object
 26  Date                    14281 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(21)
memory usage: 3.1+ MB

In these two previous cells, we've determined the number of NaN/Unknown (since we replaced them) values in the 'Injury.Severity' to determine whether dropping them would be most feasible. Following this cell, we've dropped the NaNs from the 'Injury.Severity' column to further clean the data and prep our dataframe for further analysis.

In [1226]:
pared_down_df.describe(include=object)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Model,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,14281,14281,14281,14281,14281,14276,13730,13538,14281,14274,...,14274,14281,11770,13982,1550,12059,12345,2387,11227,13160
unique,14252,2,14274,5093,6945,142,5,4,1,13869,...,1258,2,7,19,3,23,4,12,8107,793
top,20020917X02935,Accident,ERA22FA318,1982-07-09,"ANCHORAGE, AK",UNITED STATES,Non-Fatal,Substantial,Airplane,unknown,...,172,No,Reciprocating,091,SCHD,Personal,VMC,Landing,Probable Cause,25-09-2020
freq,2,13316,2,18,83,12238,10741,11026,14281,4,...,815,14233,10915,9080,749,7986,11298,682,2389,7823

In [1227]:
pared_down_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982-01-01
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",UNITED STATES,Fatal,Destroyed,Airplane,N758SK,...,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,"LITTLE ROCK, AR",UNITED STATES,Fatal,Destroyed,Airplane,N9779L,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",UNITED STATES,Fatal,Destroyed,Airplane,N7641A,...,Personal,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,1982-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90317,20221211106438,Accident,ERA23LA083,2022-12-09,"HAWKINSVILLE, GA",UNITED STATES,Minor,Substantial,Airplane,N160PT,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,15-12-2022,2022-12-09
90320,20221215106460,Accident,ERA23LA088,2022-12-10,"ALABASTER, AL",UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,Personal,0.0,0.0,0.0,2.0,NaN,NaN,NaN,19-12-2022,2022-12-10
90324,20221212106444,Accident,ERA23LA085,2022-12-12,"KNOXVILLE, TN",UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,Instructional,0.0,0.0,0.0,1.0,VMC,NaN,NaN,15-12-2022,2022-12-12
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16

In [1228]:
pared_down_df = pared_down_df.dropna(subset=['Injury.Severity'])

In [1229]:
pared_down_df['Injury.Severity'].isna().sum()

0

In [1230]:
pared_down_df['Injury.Severity'].unique()

array(['Non-Fatal', 'Fatal', 'Incident', 'Minor', 'Serious'], dtype=object)

In [1231]:
for index, row in pared_down_df.iterrows():
    if row['Total.Fatal.Injuries'] > 0:
        pared_down_df.loc[index, 'Accident.Category'] = 'Fatal'
    elif row['Total.Serious.Injuries'] > 0:
        pared_down_df.loc[index, 'Accident.Category'] = 'Serious'
    else:
        pared_down_df.loc[index, 'Accident.Category'] = 'Minor'

/Users/jayiraj/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/jayiraj/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [1232]:
pared_down_df = pared_down_df.dropna(subset=['Aircraft.damage'])

In [1233]:
pared_down_df['Aircraft.damage'].isna().sum()

0

In [1234]:
pared_down_df['Aircraft.damage'].unique()

array(['Substantial', 'Destroyed', 'Minor', 'Unknown'], dtype=object)

In [1235]:
pared_down_df = pared_down_df[pared_down_df['Aircraft.damage'] != 'Unknown']

## Analysis and Results

In [1236]:
InjurySeverity=['Minor', 'Serious', 'Fatal']
InjuryRating=[1,2,3]
injurydict=dict(zip(InjurySeverity,InjuryRating))
  

        
pared_down_df['injury.rating'] = [injurydict[accident] if accident in injurydict else None for accident in pared_down_df['Accident.Category']]
pared_down_df.tail(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date,Accident.Category,injury.rating
90292,20221128106369,Accident,CEN23FA050,2022-11-28,"GAGE, OK",UNITED STATES,Fatal,Substantial,Airplane,N2710D,...,0.0,0.0,0.0,VMC,NaN,NaN,14-12-2022,2022-11-28,Fatal,3
90302,20221205106408,Accident,CEN23FA057,2022-12-04,"CLEBURNE, TX",UNITED STATES,Fatal,Destroyed,Airplane,N8149Z,...,0.0,0.0,0.0,IMC,NaN,NaN,15-12-2022,2022-12-04,Fatal,3
90303,20221206106424,Accident,WPR23LA054,2022-12-04,"FERGUS FALLS, MN",UNITED STATES,Non-Fatal,Substantial,Airplane,N926HM,...,0.0,0.0,2.0,VMC,NaN,NaN,13-12-2022,2022-12-04,Minor,1
90305,20221206106419,Accident,CEN23FA060,2022-12-05,"YUKON, OK",UNITED STATES,Fatal,Destroyed,Airplane,N9142Q,...,0.0,0.0,0.0,VMC,NaN,NaN,13-12-2022,2022-12-05,Fatal,3
90316,20221213106447,Accident,ERA23LA086,2022-12-08,"COVINGTON, GA",UNITED STATES,Non-Fatal,Substantial,Airplane,N900AW,...,0.0,0.0,2.0,VMC,NaN,NaN,28-12-2022,2022-12-08,Minor,1
90317,20221211106438,Accident,ERA23LA083,2022-12-09,"HAWKINSVILLE, GA",UNITED STATES,Minor,Substantial,Airplane,N160PT,...,1.0,0.0,0.0,VMC,NaN,NaN,15-12-2022,2022-12-09,Serious,2
90320,20221215106460,Accident,ERA23LA088,2022-12-10,"ALABASTER, AL",UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,0.0,0.0,2.0,NaN,NaN,NaN,19-12-2022,2022-12-10,Minor,1
90324,20221212106444,Accident,ERA23LA085,2022-12-12,"KNOXVILLE, TN",UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,0.0,0.0,1.0,VMC,NaN,NaN,15-12-2022,2022-12-12,Minor,1
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13,Minor,1
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16,Serious,2

In [1237]:
DamageSeverity=['Minor', 'Substantial', 'Destroyed']
damageRating=[1,2,3]
damagedict=dict(zip(DamageSeverity,damageRating))
  

        
pared_down_df['damage.rating'] = [damagedict[accident] if accident in damagedict else None for accident in pared_down_df['Aircraft.damage']]
pared_down_df.tail(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date,Accident.Category,injury.rating,damage.rating
90292,20221128106369,Accident,CEN23FA050,2022-11-28,"GAGE, OK",UNITED STATES,Fatal,Substantial,Airplane,N2710D,...,0.0,0.0,VMC,NaN,NaN,14-12-2022,2022-11-28,Fatal,3,2
90302,20221205106408,Accident,CEN23FA057,2022-12-04,"CLEBURNE, TX",UNITED STATES,Fatal,Destroyed,Airplane,N8149Z,...,0.0,0.0,IMC,NaN,NaN,15-12-2022,2022-12-04,Fatal,3,3
90303,20221206106424,Accident,WPR23LA054,2022-12-04,"FERGUS FALLS, MN",UNITED STATES,Non-Fatal,Substantial,Airplane,N926HM,...,0.0,2.0,VMC,NaN,NaN,13-12-2022,2022-12-04,Minor,1,2
90305,20221206106419,Accident,CEN23FA060,2022-12-05,"YUKON, OK",UNITED STATES,Fatal,Destroyed,Airplane,N9142Q,...,0.0,0.0,VMC,NaN,NaN,13-12-2022,2022-12-05,Fatal,3,3
90316,20221213106447,Accident,ERA23LA086,2022-12-08,"COVINGTON, GA",UNITED STATES,Non-Fatal,Substantial,Airplane,N900AW,...,0.0,2.0,VMC,NaN,NaN,28-12-2022,2022-12-08,Minor,1,2
90317,20221211106438,Accident,ERA23LA083,2022-12-09,"HAWKINSVILLE, GA",UNITED STATES,Minor,Substantial,Airplane,N160PT,...,0.0,0.0,VMC,NaN,NaN,15-12-2022,2022-12-09,Serious,2,2
90320,20221215106460,Accident,ERA23LA088,2022-12-10,"ALABASTER, AL",UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,0.0,2.0,NaN,NaN,NaN,19-12-2022,2022-12-10,Minor,1,2
90324,20221212106444,Accident,ERA23LA085,2022-12-12,"KNOXVILLE, TN",UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,0.0,1.0,VMC,NaN,NaN,15-12-2022,2022-12-12,Minor,1,2
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13,Minor,1,2
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16,Serious,2,2

In [1238]:
pared_down_df.groupby(by=['Make', 'injury.rating']).count()

                      Event.Id  Investigation.Type  Accident.Number  \
Make   injury.rating
BEECH  1                   886                 886              886
       2                   197                 197              197
       3                   459                 459              459
BOEING 1                   358                 358              358
       2                    56                  56               56
       3                    45                  45               45
CESSNA 1                  4777                4777             4777
       2                   992                 992              992
       3                  1307                1307             1307
PIPER  1                  2626                2626             2626
       2                   614                 614              614
       3                   890                 890              890

                      Event.Date  Location  Country  Injury.Severity  \
Make   injury.rating
BEECH  1                     886       886      886              886
       2                     197       197      197              197
       3                     459       459      459              459
BOEING 1                     358       358      358              358
       2                      56        56       56               56
       3                      45        45       45               45
CESSNA 1                    4777      4777     4776             4777
       2                     992       992      992              992
       3                    1307      1307     1305             1307
PIPER  1                    2626      2626     2625             2626
       2                     614       614      614              614
       3                     890       890      889              890

                      Aircraft.damage  Aircraft.Category  Registration.Number  \
Make   injury.rating
BEECH  1                          886                886                  886
       2                          197                197                  197
       3                          459                459                  459
BOEING 1                          358                358                  358
       2                           56                 56                   56
       3                           45                 45                   44
CESSNA 1                         4777               4777                 4777
       2                          992                992                  992
       3                         1307               1307                 1305
PIPER  1                         2626               2626                 2626
       2                          614                614                  614
       3                          890                890                  890

                      ...  Total.Serious.Injuries  Total.Minor.Injuries  \
Make   injury.rating  ...
BEECH  1              ...                     886                   886
       2              ...                     197                   197
       3              ...                     459                   459
BOEING 1              ...                     358                   358
       2              ...                      56                    56
       3              ...                      45                    45
CESSNA 1              ...                    4777                  4777
       2              ...                     992                   992
       3              ...                    1307                  1307
PIPER  1              ...                    2626                  2626
       2              ...                     614                   614
       3              ...                     890                   890

                      Total.Uninjured  Weather.Condition  \
Make   injury.rating
BEECH  1                          886                840
       2                          197                189
       3                          459                392
BOEING 1                          358                177
       2                           56                 42
       3                           45                 19
CESSNA 1                         4777               4589
       2                          992                954
       3                         1307               1008
PIPER  1                         2626               2526
       2                          614                594
       3                          890                714

                      Broad.phase.of.flight  Report.Status  Publication.Date  \
Make   injury.rating
BEECH  1                                181            770               824
       2                                 20            161               187
       3                                 62            313               438
BOEING 1                                 34            193               337
       2                                  3             40                52
       3                                  3             18                42
CESSNA 1                               1002           4311              4449
       2                                 95            862               911
       3                                233            818              1231
PIPER  1                                498           2335              2412
       2                                 80            542               565
       3                                150            582               853

                      Date  Accident.Category  damage.rating
Make   injury.rating
BEECH  1               886                886            886
       2               197                197            197
       3               459                459            459
BOEING 1               358                358            358
       2                56                 56             56
       3                45                 45             45
CESSNA 1              4777               4777           4777
       2               992                992            992
       3              1307               1307           1307
PIPER  1              2626               2626           2626
       2               614                614            614
       3               890                890            890

[12 rows x 28 columns]

In [1239]:
pared_down_df['Number.of.Engines'].value_counts()

1.0    10433
2.0     1827
4.0       34
3.0       11
Name: Number.of.Engines, dtype: int64

In [1240]:
pared_down_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date,Accident.Category,injury.rating,damage.rating
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01,Minor,1,2
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982-01-01,Minor,1,2
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",UNITED STATES,Fatal,Destroyed,Airplane,N758SK,...,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,"LITTLE ROCK, AR",UNITED STATES,Fatal,Destroyed,Airplane,N9779L,...,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",UNITED STATES,Fatal,Destroyed,Airplane,N7641A,...,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90317,20221211106438,Accident,ERA23LA083,2022-12-09,"HAWKINSVILLE, GA",UNITED STATES,Minor,Substantial,Airplane,N160PT,...,0.0,0.0,VMC,NaN,NaN,15-12-2022,2022-12-09,Serious,2,2
90320,20221215106460,Accident,ERA23LA088,2022-12-10,"ALABASTER, AL",UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,0.0,2.0,NaN,NaN,NaN,19-12-2022,2022-12-10,Minor,1,2
90324,20221212106444,Accident,ERA23LA085,2022-12-12,"KNOXVILLE, TN",UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,0.0,1.0,VMC,NaN,NaN,15-12-2022,2022-12-12,Minor,1,2
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"LEWISTOWN, MT",UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022-12-13,Minor,1,2
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"BROOKSVILLE, FL",UNITED STATES,Minor,Substantial,Airplane,N5405V,...,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022-12-16,Serious,2,2

In [1241]:
pared_down_df['Make'].value_counts()

CESSNA    7076
PIPER     4130
BEECH     1542
BOEING     459
Name: Make, dtype: int64

In [1242]:
import numpy as np

np.corrcoef(pared_down_df['injury.rating'], pared_down_df['Number.of.Engines'])[0,1]

nan

In [1243]:
print("Safety Scores for each Make:")
pared_down_df.groupby('Make')['injury.rating'].mean()

Safety Scores for each Make:

Make
BEECH     1.723087
BOEING    1.318083
CESSNA    1.509610
PIPER     1.579661
Name: injury.rating, dtype: float64

In [1244]:
pared_down_df['Location'].value_counts()

ANCHORAGE, AK                    80
FAIRBANKS, AK                    50
HOUSTON, TX                      49
TALKEETNA, AK                    49
MIAMI, FL                        46
                                 ..
KADENA AIR BASE, JAPAN, JAPAN     1
MOSBY, MO                         1
RIO NEGRO, BOLIVAR, VENEZUELA     1
THEODORE, AL                      1
GRAYLING, AK                      1
Name: Location, Length: 6443, dtype: int64

In [1245]:
pared_down_df_alaska = pared_down_df[pared_down_df['Location'].str.contains(', AK')]

In [1246]:
pared_down_df_alaska.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1065 entries, 17 to 90263
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                1065 non-null   object
 1   Investigation.Type      1065 non-null   object
 2   Accident.Number         1065 non-null   object
 3   Event.Date              1065 non-null   object
 4   Location                1065 non-null   object
 5   Country                 1065 non-null   object
 6   Injury.Severity         1065 non-null   object
 7   Aircraft.damage         1065 non-null   object
 8   Aircraft.Category       1065 non-null   object
 9   Registration.Number     1065 non-null   object
 10  Make                    1065 non-null   object
 11  Model                   1065 non-null   object
 12  Amateur.Built           1065 non-null   object
 13  Number.of.Engines       1047 non-null   float64
 14  Engine.Type             999 non-null    object
 15  FAR.Description         1065 non-null   object
 16  Schedule                214 non-null    object
 17  Purpose.of.flight       921 non-null    object
 18  Total.Fatal.Injuries    1065 non-null   float64
 19  Total.Serious.Injuries  1065 non-null   float64
 20  Total.Minor.Injuries    1065 non-null   float64
 21  Total.Uninjured         1065 non-null   float64
 22  Weather.Condition       1047 non-null   object
 23  Broad.phase.of.flight   144 non-null    object
 24  Report.Status           985 non-null    object
 25  Publication.Date        981 non-null    object
 26  Date                    1065 non-null   datetime64[ns]
 27  Accident.Category       1065 non-null   object
 28  injury.rating           1065 non-null   int64
 29  damage.rating           1065 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(22)
memory usage: 257.9+ KB

In [1247]:
percentage_in_alaska = len(pared_down_df_alaska.index)/len(pared_down_df.index)

In [1248]:
percentage_in_alaska

0.08063905504656621

In [1297]:
pared_down_df['Location']= pared_down_df['Location'].str.replace(',','')

In [1298]:
#pared_down_df['State2']=pared_down_df['Location'].str.split(',').str.get(1)

In [1299]:
pared_down_df['State'] = pared_down_df['Location'].str[-2:]

In [1300]:
pared_down_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date,Accident.Category,injury.rating,damage.rating,State,State2
7,20020909X01562,Accident,SEA82DA022,1982-01-01,PULLMAN WA,UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01,Minor,1,2,WA,NaN
8,20020909X01561,Accident,NYC82DA015,1982-01-01,EAST HANOVER NJ,UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,IMC,Landing,Probable Cause,01-01-1982,1982-01-01,Minor,1,2,NJ,NaN
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,HEARNE TX,UNITED STATES,Fatal,Destroyed,Airplane,N758SK,...,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3,TX,NaN
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,LITTLE ROCK AR,UNITED STATES,Fatal,Destroyed,Airplane,N9779L,...,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3,AR,NaN
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,SKWENTA AK,UNITED STATES,Fatal,Destroyed,Airplane,N7641A,...,VMC,Unknown,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3,AK,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90317,20221211106438,Accident,ERA23LA083,2022-12-09,HAWKINSVILLE GA,UNITED STATES,Minor,Substantial,Airplane,N160PT,...,VMC,NaN,NaN,15-12-2022,2022-12-09,Serious,2,2,GA,NaN
90320,20221215106460,Accident,ERA23LA088,2022-12-10,ALABASTER AL,UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,NaN,NaN,NaN,19-12-2022,2022-12-10,Minor,1,2,AL,NaN
90324,20221212106444,Accident,ERA23LA085,2022-12-12,KNOXVILLE TN,UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,VMC,NaN,NaN,15-12-2022,2022-12-12,Minor,1,2,TN,NaN
90328,20221213106455,Accident,WPR23LA065,2022-12-13,LEWISTOWN MT,UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,NaN,NaN,NaN,14-12-2022,2022-12-13,Minor,1,2,MT,NaN
90336,20221219106470,Accident,ERA23LA091,2022-12-16,BROOKSVILLE FL,UNITED STATES,Minor,Substantial,Airplane,N5405V,...,VMC,NaN,NaN,23-12-2022,2022-12-16,Serious,2,2,FL,NaN

In [1301]:
pared_down_df['State'].value_counts(normalize = True)*100

CA    8.556069
AK    8.063906
TX    7.155296
FL    6.700992
AZ    3.445143
        ...
US    0.007572
M     0.007572
ON    0.007572
J     0.007572
P     0.007572
Name: State, Length: 124, dtype: float64

In [1302]:
pared_down_US_df = pared_down_df[pared_down_df['Country']=='UNITED STATES']

In [1303]:
pared_down_US_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Date,Accident.Category,injury.rating,damage.rating,State,State2
7,20020909X01562,Accident,SEA82DA022,1982-01-01,PULLMAN WA,UNITED STATES,Non-Fatal,Substantial,Airplane,N2482N,...,VMC,Takeoff,Probable Cause,01-01-1982,1982-01-01,Minor,1,2,WA,NaN
8,20020909X01561,Accident,NYC82DA015,1982-01-01,EAST HANOVER NJ,UNITED STATES,Non-Fatal,Substantial,Airplane,N7967Q,...,IMC,Landing,Probable Cause,01-01-1982,1982-01-01,Minor,1,2,NJ,NaN
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,HEARNE TX,UNITED STATES,Fatal,Destroyed,Airplane,N758SK,...,IMC,Takeoff,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3,TX,NaN
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,LITTLE ROCK AR,UNITED STATES,Fatal,Destroyed,Airplane,N9779L,...,IMC,Cruise,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3,AR,NaN
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,SKWENTA AK,UNITED STATES,Fatal,Destroyed,Airplane,N7641A,...,VMC,Unknown,Probable Cause,02-01-1983,1982-01-02,Fatal,3,3,AK,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90317,20221211106438,Accident,ERA23LA083,2022-12-09,HAWKINSVILLE GA,UNITED STATES,Minor,Substantial,Airplane,N160PT,...,VMC,NaN,NaN,15-12-2022,2022-12-09,Serious,2,2,GA,NaN
90320,20221215106460,Accident,ERA23LA088,2022-12-10,ALABASTER AL,UNITED STATES,Non-Fatal,Substantial,Airplane,N5301G,...,NaN,NaN,NaN,19-12-2022,2022-12-10,Minor,1,2,AL,NaN
90324,20221212106444,Accident,ERA23LA085,2022-12-12,KNOXVILLE TN,UNITED STATES,Non-Fatal,Substantial,Airplane,N783SF,...,VMC,NaN,NaN,15-12-2022,2022-12-12,Minor,1,2,TN,NaN
90328,20221213106455,Accident,WPR23LA065,2022-12-13,LEWISTOWN MT,UNITED STATES,Non-Fatal,Substantial,Airplane,C-GZPU,...,NaN,NaN,NaN,14-12-2022,2022-12-13,Minor,1,2,MT,NaN
90336,20221219106470,Accident,ERA23LA091,2022-12-16,BROOKSVILLE FL,UNITED STATES,Minor,Substantial,Airplane,N5405V,...,VMC,NaN,NaN,23-12-2022,2022-12-16,Serious,2,2,FL,NaN

In [1304]:
pared_down_US_df.groupby('State')['injury.rating'].mean()

State
      2.500000
AK    1.312676
AL    1.496894
AN    1.333333
AO    2.500000
        ...
WA    1.398827
WI    1.443850
WN    2.333333
WV    1.660000
WY    1.466019
Name: injury.rating, Length: 66, dtype: float64

In [1305]:
pared_down_US_df['State']= pared_down_US_df['State'].str.replace(',','')

<ipython-input-1305-398d4d4bbf2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pared_down_US_df['State']= pared_down_US_df['State'].str.replace(',','')

In [1311]:
list(pared_down_US_df['State'].unique())

['WA',
 'NJ',
 'TX',
 'AR',
 'AK',
 'PA',
 'MI',
 'CA',
 'VA',
 'NC',
 'FL',
 'OR',
 'NV',
 'IN',
 'NM',
 'AZ',
 'NY',
 'MO',
 'WY',
 'IL',
 'MT',
 'MD',
 'OH',
 'SC',
 'HI',
 'CO',
 'AL',
 'MS',
 'OK',
 'UT',
 'MN',
 'VT',
 'GA',
 'LA',
 'NH',
 'KS',
 'IA',
 'ID',
 'MA',
 'CT',
 'KY',
 'TN',
 'SD',
 'WI',
 'NE',
 'RI',
 'ME',
 'WV',
 'ND',
 'DE',
 'DC',
 'GU',
 'PR',
 'WN',
 'ED',
 '',
 'AS',
 'NA',
 'AO',
 'IE',
 'AN',
 'EY',
 'NG',
 'IX',
 'TA',
 'OF']

In [1316]:
pared_down_US_df = pared_down_US_df[pared_down_US_df['State'].str.len()==2]

In [1317]:
list(pared_down_US_df['State'].unique())

['WA',
 'NJ',
 'TX',
 'AR',
 'AK',
 'PA',
 'MI',
 'CA',
 'VA',
 'NC',
 'FL',
 'OR',
 'NV',
 'IN',
 'NM',
 'AZ',
 'NY',
 'MO',
 'WY',
 'IL',
 'MT',
 'MD',
 'OH',
 'SC',
 'HI',
 'CO',
 'AL',
 'MS',
 'OK',
 'UT',
 'MN',
 'VT',
 'GA',
 'LA',
 'NH',
 'KS',
 'IA',
 'ID',
 'MA',
 'CT',
 'KY',
 'TN',
 'SD',
 'WI',
 'NE',
 'RI',
 'ME',
 'WV',
 'ND',
 'DE',
 'DC',
 'GU',
 'PR',
 'WN',
 'ED',
 'AS',
 'NA',
 'AO',
 'IE',
 'AN',
 'EY',
 'NG',
 'IX',
 'TA',
 'OF']

In [1321]:
wrong_states = [ 'GU',
 'PR',
 'WN',
 'ED',
 'AS',
 'NA',
 'AO',
 'IE',
 'AN',
 'EY',
 'NG',
 'IX',
 'TA',
 'OF']
for state in wrong_states:
    pared_down_US_df = pared_down_US_df[pared_down_US_df['State'] != state]

51

In [1322]:
pared_down_US_df['State'].value_counts(normalize = True)*100

CA    9.268457
AK    8.965401
TX    7.955215
FL    7.450122
AZ    3.830289
CO    2.929540
WA    2.870612
GA    2.828521
NY    2.247664
IL    2.222409
ID    2.188736
NC    2.104554
OR    2.079300
PA    2.070881
MI    2.045627
OH    2.037209
MO    2.003536
VA    1.708898
UT    1.666807
OK    1.658389
IN    1.633134
NM    1.616298
WI    1.574207
MT    1.540534
KS    1.540534
MN    1.490024
NV    1.397424
NJ    1.380588
LA    1.372169
AL    1.355333
TN    1.346915
SC    1.296405
AR    1.186969
IA    1.027022
MD    1.018604
MA    0.968095
MS    0.909167
KY    0.875495
NE    0.867076
WY    0.867076
ME    0.791312
SD    0.639784
ND    0.631366
CT    0.622948
HI    0.505093
WV    0.420911
NH    0.387238
VT    0.294638
RI    0.202037
DE    0.092600
DC    0.016836
Name: State, dtype: float64

### Business Recommendation 1

Our first business recommendation...

### Business Recommendation 2

Second business recommendation...

### Business Recommendation 3

## Conclusion

### Next Steps